<% if (locals.notification) { %>
<div class="alert alert-<%= locals.status === 'success' ? 'success' : 'danger' %> alert-dismissible text-center fade show" role="alert">
  <%=  locals.notification %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<header class="mb-3">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">WhereIsIt?</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <% [
        {
            menu: "Home",
            link: "/"
        },
        {
            menu: "Add category",
            link: "/categories/new"
        },
        {
            menu: "Add item",
            link: "/items/new"
        }
        ].forEach(({menu, link}) => { %>

          <li class="nav-item">
            <a class="nav-link <%= locals.currentPath === link ? 'active' : '' %>" aria-current="page" href="<%=link%>"><%= menu %></a>
          </li>
          <% }) %>
        </ul>
      </div>
    </div>
  </nav>
</header>