<!-- Set default action for form -->
<% let action = "new" %>

<!-- If item exists so it is the update form; Modify action to send put request -->
<% if (item) { action = `${item.item_id}?_method=PUT`; } %>

<form action="/items/<%= action %>" method="POST">

  <% if (item) { %>
  <div>
    <label for="item_id">Item Id</label>
    <div>
      <input type="text" id="item_id" name="item_id" placeholder="e.g. Smartphone" value="<%= item?.item_id %>" readonly />
    </div>
  </div>
  <% } %>
  <div>
    <label for="item_name">Item Name</label>
    <div>
      <input type="text" id="item_name" name="item_name" placeholder="e.g. Smartphone" value="<%= item?.item_name %>" />
    </div>
    <%- include("input-error", {input_name: "item_name"}) %>
  </div>

  <div>
    <label for="item_category">Categories </label>
    <div>
      <%- include("category-multiselect", {categories, item: item}) %>
    </div>
    <%- include("input-error", {input_name: "item_category"}) %>
  </div>

  <div>
    <label for="username">Username</label>
    <div>
      <input type="text" id="username" name="username" placeholder="e.g. green_apple" value="<%= item?.username %>" />
    </div>
    <%- include("input-error", {input_name: "username"}) %>
  </div>

  <div>
    <label for="contact">Contact</label>
    <div>
      <input type="text" id="contact" name="contact" placeholder="e.g. +994555000000" value="<%= item?.contact %>" />
    </div>
    <%- include("input-error", {input_name: "contact"}) %>
  </div>

  <div>
    <label for="status">Status</label>
    <div>
      <select name="status" id="status">
        <option <%= item?.status === 1 ?  'selected' : '' %> value="1">Found</option>
        <option <%= item?.status === 0 ?  'selected' : '' %> value="0">Lost</option>
      </select>
    </div>
    <%- include("input-error", {input_name: "status"}) %>
  </div>

  <div>
    <label for="details">Details</label>
    <div>
      <textarea name="details" id="details" placeholder="e.g. I found this item at the bus station.">
<%= item?.details %></textarea>
    </div>
    <%- include("input-error", {input_name: "details"}) %>
  </div>

  <% if (item)  { %>
  <div>
    <label for="secret_key">New Secret Key</label>
    <div>
      <input type="password" id="secret_key" name="secret_key" placeholder="New secret key (You can modify an item using this key)" />
    </div>
    <%- include("input-error", {input_name: "secret_key"}) %>
  </div>
  <% } %>

  <div>
    <label for="confirm_secret_key">Secret Key</label>
    <div>
      <input type="password" id="confirm_secret_key" name="confirm_secret_key" placeholder="Enter your secret key to confirm changes" />
    </div>
    <%- include("input-error", {input_name: "confirm_secret_key"}) %>
  </div>

  <div>
    <button type="submit">Submit</button>
  </div>
</form>