<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
</head>

<body>
  <%- include("partials/navbar") %>
  <hr>
  <h1><%= heading_1 %></h1>
  <div>
    <% const status = item.status ? "Found" : "Lost" %>
    <div>
      <strong>Name:</strong> <%= item.item_name %><br />
      <strong>Author:</strong> <%= item.username %><br />
      <strong>Tel:</strong> <%= item.contact %><br />
      <strong>Status:</strong> <%= status %><br />
      <strong>Date:</strong> <%= item.added %><br />
      <strong>Description:</strong> <%= item.details %><br />
    </div>
    <div>
      <strong>Categories:</strong>
      <% item.categories.forEach(({category_name, category_id}, index) => { %>
      <em><a href="/categories/<%= category_id %>"><%= category_name %> <%= index === item.categories.length - 1 ? '' : ',' %></a> &nbsp;</em>
      <% }); %>
    </div>
  </div>
</body>

</html>