<%- include("partials/head-tag") %>

<body>
  <%- include("partials/header") %>
  <div class="container">
    <h1 class="mb-5"><%= heading_1 %></h1>
    <div class="row g-3">
      <% items.forEach((item) => { %> <% const status = item.status ? "Found" :
      "Lost" %>
      <% const cardBg = item.status ? "bg-success-subtle" : "bg-danger-subtle" %>
      <div class="col-12 col-md-6 col-lg-4">
        <div class="rounded p-3 shadow-sm <%= cardBg %>">
          <span class="d-block"><strong>Name:</strong> <%= item.item_name %></span>
          <span class="d-block"><strong>Author:</strong> <%= item.username %></span>
          <span class="d-block"><strong>Tel:</strong> <%= item.contact %></span>
          <span class="d-block"><strong>Status:</strong> <%= status %></span>
          <span class="d-block"><strong>Date:</strong> <%= formatDate(item.added) %></span>
          <span class="d-block"><strong>Description:</strong> <%= item.details.slice(0, 25) %>...</span>
          <div class="btn-group w-100 mt-3 bg-white">
            <a class="btn btn-outline-primary" href="/items/<%= item.item_id %>">Open</a>
            <a class="btn btn-outline-primary" href="/items/<%= item.item_id %>/edit">edit</a>
            <a class="btn btn-outline-primary" href="/items/<%= item.item_id %>/delete">delete</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include("partials/footer") %>